<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <% unless signed_in? %>
        <li><%= link_to 'Log In', login_path %></li>
        <li><%= link_to 'Sign up', signup_path %></li>
        <li><%= link_to 'homepage', videos_path %></li>
    <% end %>
  </div>
</nav>


<div class="row" id="rowBackgroundImg">
    <div class="span6" id="backgroundImg">
    <!-- background image is set in CSS -->
    </div>
</div>




