<% unless signed_in? %>
    <%= link_to 'Log In', login_path %>
    Or
    <%= link_to 'Sign up', signup_path %>
<% end %>

<div class="container">

<%= image_tag("onepiece.jpg", :alt => "onepiece") %>

</div>
<br>

