/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";



body {
  padding-top: 60px;
}


nav li {

    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
    border-right: thin solid red;
    padding: 5px 5px 5px 5px;
}

#nixborder {
    border-right: none;
}

#backgroundImg
{
    background-image: url(image-path('onepiece.jpg'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

/* footer */

footer {
  float: bottom;
  margin-top: 60px;
  padding-top: 5px;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

footer small {
  float: left;
  padding-top: 20px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  padding-top: 12px;
}
