/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "bootstrap";
div.row img {
    width: 100%;
}
.log_head {
    background: #5ed6df;
    width: 100%;
    color: white;
    padding: 10px;
    border-bottom: 3px solid orange;
}
.container {
    width: 800px;
    margin: 0 auto;
}
.video {
    width: 200px;
    display: inline-block;
    border: 1px solid #ccc;
}
.right {
    border-bottom: 2px solid orange;
    padding-left: 20px;
}
#logout {
    color: red;
    border: 0;
    background: none;
}
.container>h1 {
    font-size: 30pt;
    font-family: helveticaNeue;
}
.container>p {
    font-size: 15pt!important;
}
.homepage_btn {
    margin-top: 0;
    transition: margin-top .5s;
}
.homepage_btn:hover {
    margin-top: -10px;
}
#homepage {
    background-color: orange;
}
