<footer class="footer navbar-fixed-bottom navbar-inverse">
  <small>
    The <a href="#">Fight App</a>
    by <a href="#">Oscar Bonilla</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li id="nixborder"><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
